<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429219253172-pi50acevr4tm430ojn85smn8mpcka3ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429219253172-pi50acevr4tm430ojn85smn8mpcka3ot</string>
	<key>API_KEY</key>
	<string>AIzaSyA7YAKmaSTQDBkWm9njhP3nFgHbicxTe5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>429219253172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touchyspidey.monsterquiz</string>
	<key>PROJECT_ID</key>
	<string>questfinder-dd466</string>
	<key>STORAGE_BUCKET</key>
	<string>questfinder-dd466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429219253172:ios:76b682fc6ff2ceaa6900e1</string>
</dict>
</plist>